.venv/
myenv/
# Ignore raw datasets
Software Validation from Datasets/Raw Datasets/
Software Validation from Datasets/Raw Datasets (Not formatted)/

# Mac
.DS_Store
RawDatasets/


# Python cache
__pycache__/
*.pyc
