cloudpickle==3.1.2
contourpy==1.4.0
cycler==0.12.1
Cython==3.1.2
fonttools==4.66.0
joblib==1.6.0
kaldialign==0.9.2
kiwisolver==1.5.1
matplotlib==3.10.3
meeteval==0.4.3
narwhals==2.26.0
numpy==2.2.6
packaging==26.3
pandas==3.0.6
pillow==12.3.0
pip==24.2
psutil==7.2.2
pyannote-core==6.0.1
pyannote-database==6.1.1
pyannote-metrics==4.1
pyparsing==3.3.3
python-dateutil==2.9.0.post0
PyYAML==6.0.3
scikit-learn==1.9.1
scipy==1.15.3
setuptools==80.9.0
six==1.17.0
sortedcontainers==2.4.0
threadpoolctl==3.7.0
tzdata==2026.4
wheel==0.45.1
